<section class="bg-base-300">
  <div class="form-control items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
    <div class="bg-base-100 w-full rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <%= image_tag "BiteBunchLogo.png", class: "w-10 h-10" %>
          <span class="text-base-content self-center text-2xl font-semibold whitespace-nowrap">BiteBunch</span>
        </a>

        <h1 class="text-base-content text-xl font-bold leading-tight tracking-tight md:text-2xl">
          Create your account
        </h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-4 md:space-y-6" }) do |form| %>
          <div class="flex items-center space-x-3">
            <div>
              <%= form.label :first_name, "First name", class: "label label-text" %>
              <%= form.text_field :first_name, class: "input input-bordered w-full #{'input-error' if has_errors?(resource, :first_name) }" %>
              <% if has_errors?(resource, :first_name) %>
                <span class="label label-text-alt text-error">
                  <%= resource.errors.full_messages_for(:first_name).to_sentence %>
                </span>
              <% end  %>
            </div>

            <div>
              <%= form.label :last_name, "Last name", class: "label label-text" %>
              <%= form.text_field :last_name, class: "input input-bordered w-full #{'input-error' if has_errors?(resource, :last_name) }" %>
              <% if has_errors?(resource, :last_name) %>
                <span class="label label-text-alt text-error">
                  <%= resource.errors.full_messages_for(:last_name).to_sentence %>
                </span>
              <% end  %>
            </div>
          </div>

          <div>
            <%= form.label :email, "Email", class: "label label-text" %>
            <%= form.email_field :email, class: "input input-bordered w-full #{'input-error' if has_errors?(resource, :email) }" %>
            <% if has_errors?(resource, :email) %>
              <span class="label label-text-alt text-error">
                <%= resource.errors.full_messages_for(:email).to_sentence %>
              </span>
            <% end  %>
          </div>

          <div>
            <%= form.label :password, "Password", class: "label label-text" %>
            <%= form.password_field :password, class: "input input-bordered w-full #{'input-error' if has_errors?(resource, :password) }" %>
            <% if has_errors?(resource, :password) %>
              <span class="label label-text-alt text-error">
                <%= resource.errors.full_messages_for(:password).to_sentence %>
              </span>
            <% end  %>
          </div>

          <div>
            <%= form.label :password_confirmation, "Confirm Password", class: "label label-text" %>
            <%= form.password_field :password_confirmation, class: "input input-bordered w-full #{'input-error' if has_errors?(resource, :password_confirmation) }" %>
            <% if has_errors?(resource, :password_confirmation) %>
              <span class="label label-text-alt text-error">
                <%= resource.errors.full_messages_for(:password_confirmation).to_sentence %>
              </span>
            <% end  %>
          </div>

          <div class="actions">
            <%= form.submit "Sign up", class: "btn btn-primary w-full" %>
          </div>

          <div>
            <span class="text-neutral-content">Have and account?</span>
            <%= link_to "Sign in", session_path(resource_name), class: "link text-secondary" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>

