<section class="bg-base-300">
  <div class="form-control items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
    <div class="bg-base-100 w-full rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <%= image_tag "BiteBunchLogo.png", class: "w-8 h-8" %>
          <span class="text-base-content self-center text-2xl font-semibold whitespace-nowrap">BiteBunch</span>
        </a>

        <h1 class="text-base-content text-xl font-bold leading-tight tracking-tight md:text-2xl">
          Sign in
        </h1>


        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4 md:space-y-6" }) do |form| %>
          <div>
            <%= form.label :email, "Email", class: "label label-text" %>
            <%= form.email_field :email, class: "input input-bordered w-full" %>
          </div>

          <div>
            <%= form.label :password, "Password", class: "label label-text" %>
            <%= form.password_field :password, class: "input input-bordered w-full" %>
          </div>

          <% if flash[:alert] %>
            <div class="flex text-sm font-medium text-error items-center space-x-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="cl-internal-pisc6q w-5 h-5">
                <path fill="currentColor" fill-rule="evenodd" d="M13.4 7A6.4 6.4 0 1 1 .6 7a6.4 6.4 0 0 1 12.8 0Zm-5.6 3.2a.8.8 0 1 1-1.6 0 .8.8 0 0 1 1.6 0ZM7 3a.8.8 0 0 0-.8.8V7a.8.8 0 0 0 1.6 0V3.8A.8.8 0 0 0 7 3Z" clip-rule="evenodd"></path>
              </svg>
              <span><%= flash[:alert] %></span>
            </div>
          <% end %>

          <div class="actions">
            <%= form.submit "Sign in", class: "btn btn-primary w-full" %>
          </div>

          <div>
            <span class="text-base-content">No account?</span>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "link text-secondary" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>
